/* Jordan Butterwick final JS assignment CSS */
/* February 19, 2019 */

/* ----------Base Styles----------- */

* {
  margin: 0;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-size: 3em;
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-size: 2em;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 1.2em;
  font-weight: 100;
}

i {
  color: #3d3d3d;
}

/* --------Navbar styles -------- */
a {
  color: #3d3d3d;
  font-family: "Raleway", sans-serif;
  font-size: 1.4em;
  text-decoration: none;
  display: block;
}

.navbar {
  height: 75px;
  display: flex;
}

.navbar ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: flex-end;
  padding: 0;
}

@media (max-width: 600px) {
  .navbar ul {
    flex-direction: column;
    padding-right: 10%;
  }
}
@media (max-width: 600px) {
  .navbar {
    height: 150px;
  }
}

/*------------ dropdown styles----------- */
.dropbtn {
  background-color: #ffffff00;
  color: #3d3d3d;
  font-family: "raleway", sans-serif;
  font-size: 1.4em;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #adadad6c;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff31;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #222222;
  font-family: "Raleway", sans-serif;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddddddbd;
}

.show {
  display: block;
}

/* ---------footer styles------- */
.footer {
  margin-bottom: 25px;
  width: 100%;
  margin-top: 150px;
}

.footer ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/* date styles */
#date {
  font-family: "Raleway";
  font-size: 1.4em;
  color: #3d3d3d;
}

/* ------hero styles------- */

.hero {
  height: 100vh;
  width: 100%;
  margin: 0, auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.hero-background {
  width: 100vw;
  height: 100vh;
  -webkit-clip-path: polygon(0px 75%, 100% 65%, 100% 0px, 0px 0px);
  clip-path: polygon(5% 75%, 95% 55%, 95% 0%, 5% 0%);
  background: radial-gradient(
      rgba(255, 239, 96, 0.233),
      rgba(255, 60, 118, 0.384)
    ),
    linear-gradient(rgba(255, 60, 118, 0.438), rgba(240, 32, 111, 0.404)),
    url("../assets/hellas2.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.hero h1 {
  color: #111111;
}

@media (max-width: 1000px) {
  .hero h1 {
    margin-left: 5%;
    margin-right: 15%;
  }
}
.purchase-hero {
  height: 100vh;
  width: 100%;
  margin: 0, auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.purchase-hero-background {
  width: 100vw;
  height: 100vh;
  -webkit-clip-path: polygon(0px 75%, 100% 65%, 100% 0px, 0px 0px);
  clip-path: polygon(5% 75%, 95% 55%, 95% 0%, 5% 0%);
  background: radial-gradient(
      rgba(160, 255, 96, 0.123),
      rgba(60, 255, 157, 0.164)
    ),
    linear-gradient(rgba(60, 209, 255, 0.185), rgba(32, 240, 77, 0.137)),
    url("../assets/purchase.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.purchase-hero h1 {
  color: #111111;
}

@media (max-width: 1000px) {
  .purchase-hero h1 {
    margin-left: 5%;
    margin-right: 15%;
  }
}
.about-hero {
  height: 100vh;
  width: 100%;
  margin: 0, auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.about-hero-background {
  width: 100vw;
  height: 100vh;
  -webkit-clip-path: polygon(5% 86%, 95% 45%, 95% 0%, 5% 0%);
  clip-path: polygon(5% 86%, 95% 45%, 95% 0%, 5% 0%);
  background: radial-gradient(
      rgba(88, 243, 191, 0.137),
      rgba(202, 66, 243, 0.425)
    ),
    linear-gradient(rgba(60, 144, 255, 0.438), rgba(32, 240, 195, 0.247)),
    url("../assets/about.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.about-hero h1 {
  color: #111111;
}

@media (max-width: 1000px) {
  .about-hero h1 {
    margin-left: 5%;
    margin-right: 15%;
  }
}

/* ------ card styles -------- */

.card-row {
  display: flex;
  flex-flow: row wrap;
  padding: 5%;
  justify-content: center;
}
.card {
  width: 32vw;
  height: 35vh;
  margin-bottom: 25px;
  margin-right: 45px;
  color: #3d3d3d;
}
.card-content {
  width: 75%;
  display: flex;
  flex-direction: column;
}

/* destination content page styles */
.destination-content {
  width: 50vw;
  height: 45vh;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.destination-content p {
  font-size: 1.5em;
}

.destination {
  display: flex;
  justify-content: center;
}

/* kraken mare */
.kraken-card {
  height: 45vh;
  width: 40vw;
  display: flex;
  justify-content: center;
}

.kraken-card-background {
  -webkit-clip-path: polygon(5% 86%, 95% 45%, 95% 0%, 5% 0%);
  clip-path: polygon(5% 86%, 95% 45%, 95% 0%, 5% 0%);
  background: radial-gradient(
      rgba(255, 244, 147, 0.356),
      rgba(233, 255, 153, 0.37)
    ),
    linear-gradient(rgba(169, 123, 255, 0.37), rgba(235, 255, 145, 0.295)),
    url("../assets/kraken.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column wrap;
}
.kraken-card h1 {
  color: #111111;
}

@media (max-width: 1000px) {
  .kraken-card h1 {
    margin-left: 5%;
    margin-right: 15%;
  }
}

/* hellas planitia */
.hellas-card {
  height: 45vh;
  width: 40vw;
  display: flex;
  justify-content: center;
}

.hellas-card-background {
  -webkit-clip-path: polygon(5% 55%, 95% 75%, 95% 0%, 5% 0%);
  clip-path: polygon(5% 55%, 95% 75%, 95% 0%, 5% 0%);
  background: radial-gradient(
      rgba(255, 248, 188, 0.233),
      rgba(255, 173, 197, 0.384)
    ),
    linear-gradient(rgba(255, 173, 197, 0.438), rgba(255, 168, 201, 0.404)),
    url("../assets/hellas2.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column wrap;
}
.hellas-card h1 {
  color: #111111;
}

@media (max-width: 1000px) {
  .hellas-card h1 {
    margin-left: 5%;
    margin-right: 15%;
  }
}

/* mare tranquillitis */
.tranquility-card {
  height: 45vh;
  width: 40vw;
  display: flex;
  justify-content: center;
}

.tranquility-card-background {
  -webkit-clip-path: polygon(0px 75%, 100% 65%, 100% 0px, 0px 0px);
  clip-path: polygon(5% 65%, 95% 75%, 95% 0%, 5% 0%);
  background: radial-gradient(
      rgba(88, 243, 191, 0.137),
      rgba(202, 66, 243, 0.534)
    ),
    linear-gradient(rgba(60, 144, 255, 0.438), rgba(32, 240, 195, 0.247)),
    url("../assets/tranquility.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column wrap;
}
.tranquility-card h1 {
  color: #111111;
}

@media (max-width: 1000px) {
  .tranquility-card h1 {
    margin-left: 5%;
    margin-right: 15%;
  }
}

/* outpost 17 */
.outpost-card {
  height: 45vh;
  width: 40vw;
  display: flex;
  justify-content: center;
}

.outpost-card-background {
  -webkit-clip-path: polygon(0px 75%, 100% 65%, 100% 0px, 0px 0px);
  clip-path: polygon(5% 75%, 95% 55%, 95% 0%, 5% 0%);
  background: radial-gradient(
      rgba(138, 65, 172, 0.116),
      rgba(31, 134, 252, 0.342)
    ),
    linear-gradient(rgba(96, 60, 255, 0.082), rgba(240, 32, 112, 0.034)),
    url("../assets/outpost.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column wrap;
}
.outpost-card h1 {
  color: #111111;
}

@media (max-width: 1000px) {
  .outpost-card h1 {
    margin-left: 5%;
    margin-right: 15%;
  }
}

@media (max-width: 1000px) {
  .card {
    width: 90%;
  }
}
/*--------- button styles ---------*/

#startButton {
  background-color: #ffffff00;
  color: #222222;
  font-family: "raleway", sans-serif;
  font-size: 1.4em;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

#findAgent {
  background-color: #ffffff00;
  color: #222222;
  font-family: "raleway", sans-serif;
  font-size: 1.4em;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

#findAgent:hover,
#findAgent:focus {
  background-color: #adadad6c;
}

#startButton:hover,
#startButton:focus {
  background-color: #adadad6c;
}

/* ---------About Page Styles ---------- */

.about-content p {
  color: #222222;
  font-family: "raleway", sans-serif;
  font-size: 1.2em;
}

.about-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* -----------destination styles ----------- */
/* kraken mare */
.kraken-hero {
  height: 100vh;
  width: 100%;
  margin: 0, auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.kraken-hero-background {
  width: 100vw;
  height: 100vh;
  -webkit-clip-path: polygon(5% 86%, 95% 45%, 95% 0%, 5% 0%);
  clip-path: polygon(5% 86%, 95% 45%, 95% 0%, 5% 0%);
  background: radial-gradient(
      rgba(255, 239, 96, 0.356),
      rgba(213, 255, 60, 0.37)
    ),
    linear-gradient(rgba(128, 60, 255, 0.37), rgba(213, 255, 25, 0.295)),
    url("../assets/kraken.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.kraken-hero h1 {
  color: #111111;
}

@media (max-width: 1000px) {
  .kraken-hero h1 {
    margin-left: 5%;
    margin-right: 15%;
  }
}

/* hellas planitia */
.hellas-hero {
  height: 100vh;
  width: 100%;
  margin: 0, auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.hellas-hero-background {
  width: 100vw;
  height: 100vh;
  -webkit-clip-path: polygon(5% 55%, 95% 75%, 95% 0%, 5% 0%);
  clip-path: polygon(5% 55%, 95% 75%, 95% 0%, 5% 0%);
  background: radial-gradient(
      rgba(255, 239, 96, 0.233),
      rgba(255, 60, 118, 0.384)
    ),
    linear-gradient(rgba(255, 60, 118, 0.438), rgba(240, 32, 111, 0.404)),
    url("../assets/hellas2.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.hellas-hero h1 {
  color: #111111;
}

@media (max-width: 1000px) {
  .hellas-hero h1 {
    margin-left: 5%;
    margin-right: 15%;
  }
}

/* mare tranquillitis */
.tranquility-hero {
  height: 100vh;
  width: 100%;
  margin: 0, auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.tranquility-hero-background {
  width: 100vw;
  height: 100vh;
  -webkit-clip-path: polygon(0px 75%, 100% 65%, 100% 0px, 0px 0px);
  clip-path: polygon(5% 65%, 95% 75%, 95% 0%, 5% 0%);
  background: radial-gradient(
      rgba(88, 243, 191, 0.137),
      rgba(202, 66, 243, 0.534)
    ),
    linear-gradient(rgba(60, 144, 255, 0.438), rgba(32, 240, 195, 0.247)),
    url("../assets/tranquility.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.tranquility-hero h1 {
  color: #111111;
}

@media (max-width: 1000px) {
  .tranquility-hero h1 {
    margin-left: 5%;
    margin-right: 15%;
  }
}

/* outpost 17 */
.outpost-hero {
  height: 100vh;
  width: 100%;
  margin: 0, auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.outpost-hero-background {
  width: 100vw;
  height: 100vh;
  -webkit-clip-path: polygon(0px 75%, 100% 65%, 100% 0px, 0px 0px);
  clip-path: polygon(5% 75%, 95% 55%, 95% 0%, 5% 0%);
  background: radial-gradient(
      rgba(138, 65, 172, 0.116),
      rgba(31, 134, 252, 0.342)
    ),
    linear-gradient(rgba(96, 60, 255, 0.082), rgba(240, 32, 112, 0.034)),
    url("../assets/outpost.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.outpost-hero h1 {
  color: #111111;
}

@media (max-width: 1000px) {
  .outpost-hero h1 {
    margin-left: 5%;
    margin-right: 15%;
  }
}
